html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: white;
    margin: 0px;
    border: 0px;
    padding: 0px;
    min-width: 375px;
}


/* ---- title bar ---- */

h1 {
    font-family: Georgia, serif;
    font-size:2.2em;
}

ul {
    padding-left: 0px;
}

#title {
    background-color: rgba(0,86,137,1);
    text-align: center;
    padding: 1px 0px;
}

.white {
    color:white;
}

.light-blue {
    color: rgba(170, 216, 241, 1);
}


/* ---- search box ---- */

#search-input {
    text-align: center;
}

#search-box {
    height: 28px;
    width: 40%;
}

button {
    height: 30px;
}

#search-box, button {
    margin: 10px 10px 0 10px;
    font-family: Georgia, serif;
    font-size: 1em;
}

#search-input p {
    font-size: 0.7em;
    margin: 5px 15%;
}


/* ---- search result numbers ---- */

/* this needs to move to bottom of screen for mobile version */

#search-result-numbers {
    text-align: center;
    margin-top: 20px;
}

#search-result-numbers div {
    display: inline;
    background-color: lightgray;
    padding: 5px;
    margin: 0 5px;
    border-radius: 10px;
    font-size: 0.7em;
    font-family: Helvetica, sans-serif;
}

#search-result-numbers div span {
    background-color: white;
    border-radius: 7px;
}

/* ---- histogram ---- */

/* still need to sort out the float for the sidebar */

#histogram {
    font-family: Georgia, serif;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 50px;
    color: white;
    font-size:1em;
    vertical-align: middle;
}

#histogram div {
    margin: 25px 0;
    height: 35px;
}

#histogram div:nth-child(even) {
    background-color: rgba(170, 216, 241, 1);
}

#histogram div:nth-child(odd) {
    background-color: rgba(0, 86, 137, 1);
}

#histogram div p {
    display: inline-block;
    margin: 8px 0 0 10px;
}

.score {
    visibility: hidden;
}

#site1 {
    width:300px;
}

#site2 {
    width:150px;
}

#site3 {
    width:90px;
}

#site4 {
    width:80px;
}

#site5 {
    width:70px;
}

#site6 {
    width:60px;
}

/* ---- journo sidebar ---- */

aside {
    border: lightgray 1px solid;
    width: 250px;
    border-radius: 10px;
    font-family: Helvetica, sans-serif;
    margin: 0 auto;
}

dd {
    margin-left: 0px;
    font-size: 1em;
}

#side-bar-header {
    font-size: 1em;
    padding-left: 30px;
    padding-bottom: 10px;
    border-bottom: lightgray 1px solid;
}

.thumbnail {
    float: left;
    clear: left;
    margin-right: 30px;
    margin-left: 20px;
}

.email {
    margin-bottom: 30px;
}

.full-name {
    padding-top:5px;
}

/* ---- footer ---- */

footer {
    background-color: rgba(0, 86, 137, 1);
    height: 5%;
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 20px;
    padding: 8px 0;
    font-family: Helvetica, sans-serif;
}

/* ---- media queries ---- */

@media screen and (min-width: 426px) {

    aside {
        position: relative;
        top: -380px;
        left: 185px;
    }

    #histogram {
        margin-left: 75px;
    }
}

@media screen and (min-width: 1024px) {
    #histogram {
        margin-left: 200px;
    }
}

@media screen and (min-width: 1439px) {
    #histogram {
        margin-left: 400px;
    }
}