html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: white;
    margin: 0px;
    border: 0px;
    padding: 0px;
    min-width: 375px;
}


/* ---- title bar ---- */

h1 {
    font-family: Georgia, serif;
    font-size:2.2em;
}

ul {
    padding-left: 0px;
}

#title {
    background-color: rgba(0,86,137,1);
    text-align: center;
    padding: 1px 0px;
}

.white {
    color:white;
}

.light-blue {
    color: rgba(170, 216, 241, 1);
}


/* ---- search box ---- */

#search-input {
    text-align: center;
}

#search-box {
    height: 28px;
    width: 40%;
}

button {
    height: 30px;
    border-radius: 5px;
    background-color: #0b3e6f;
    color: white;
    cursor: pointer;

}

#search-box, button {
    margin: 10px 10px 0 10px;
    padding: 3px 14px 5px 14px;
    font-family: Georgia, serif;
    font-size: 1em;
}

#search-input p {
    font-size: 1em;
    margin: 5px 9%;
    color: #0b3e6f;
}

#please-wait {
    margin-top: 60px;
    display: none;
}

#please-wait p {
    margin-top: 20px;
    font-size: 1em;
    font-family: Helvetica, sans-serif;
}

/* ---- search result numbers ---- */


#search-result-numbers {
    text-align: center;
    margin-top: 20px;
}

#search-result-numbers div {
    display: inline;
    background-color: lightgray;
    padding: 5px;
    margin: 0 5px;
    border-radius: 10px;
    font-size: 0.7em;
    font-family: Helvetica, sans-serif;
}

#search-result-numbers div span {
    background-color: white;
    border-radius: 7px;
    padding: 0px 3px;
}

/* ---- histogram ---- */

#histogram {
    font-family: Georgia, serif;
    margin: 50px auto;
    max-width: 330px;
    color: black;
    font-size:1em;
    vertical-align: middle;
    visibility: hidden;
}

#histogram div {
    margin: 5px 0;
    height: 35px;
    max-width: 100%;
}

#histogram div.even {
    background-color: rgba(170, 216, 241, 1);
}

#histogram div.odd {
    background-color: rgba(0, 86, 137, 1);
}

#histogram p {
    margin-top:-20px;
}

#histogram div p {
    display: inline-block;
    margin: 8px 0 0 10px;
}

.score {
    color: white;
}

div.site1, div.site2, div.site3, div.site4, div.site5, div.site6 {
    width:0;
}

div#site1 p, div#site2 p, div#site3 p, div#site4 p, div#site5 p, div#site6 p {
    margin-left:0;
}

.external-link:link {
    text-decoration: none;
    cursor: pointer;
    color: #0a0a0a;
}

.external-link:visited {
    color: #0b3e6f;
}

/* ---- journo sidebar ---- */

aside {
    border: lightgray 1px solid;
    width: 275px;
    border-radius: 10px;
    margin: 0 auto;
    visibility: hidden;
}

dd {
    margin-left: 0px;
    font-size: 1em;
}

#side-bar-header {
    font-size: 1em;
    padding-left: 30px;
    padding-bottom: 10px;
    border-bottom: lightgray 1px solid;
}

#journo-list dd {
    margin: 5px 0px 5px 30px;
    width: 80%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: auto;
    font-style: italic;
}

#journo-list dd a:link, a:hover, a:visited {
    color: black;
    text-decoration: none;
}

/* --- error messages ----*/

section#messages {
    display: none;
    color: white;
    width: 50%;
    margin: 28px auto;
    background-color: #005689;
    border: 1px black solid;
    padding: 0 10px 0 10px;
    text-align: center;
    border-radius: 5px;
}


/* ---- footer ---- */

footer {
    background-color: rgb(0, 86, 137);
    height: 5%;
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 20px;
    padding: 8px 0;
    font-family: Helvetica, sans-serif;
}

/* ---- media queries ---- */

@media screen and (min-width: 740px) {

    aside {
        position: relative;
        top: -530px;
        left: 180px;
        margin-bottom: -270px;
        overflow: hidden;
    }

    #histogram {
        font-family: Georgia, serif;
        margin-top: 50px;
        margin-left: 10%;
        margin-bottom: 50px;
        max-width: 330px;
        color: black;
        font-size:1em;
        vertical-align: middle;
        visibility: hidden;
    }

}

@media screen and (min-width: 1024px) {
    #histogram {
        margin-left: 200px;

    }
}

@media screen and (min-width: 1439px) {
    #histogram {
        margin-left: 400px;
    }

    #search-input p {
        margin: 5px 25%;
    }

}

@media screen and (min-width: 2560px) {
    #histogram {
        margin-left: 33%;
    }


}